body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  
  main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: visible;
  }
  
  main .block1 {
    height: 95vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    position: relative;
  }
  
  main .imagine1 {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  
  .imagine1 img {
    height: 100%;
    width: 100%;
    opacity: 100%;
  }
  
  .block1 .text-first {
    padding: 30px;
    border-radius: 70px;
    position: absolute;
    z-index: 100;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(rgba(39, 39, 59, 0.764), rgba(0, 0, 0, 0.853));
  
  }
  
  .block1 .text-first .heading-first h3 {
    font-size: 3.5em;
    text-align: center;
    font-weight: 800;
    border-bottom: 5px solid #ffffff;
    padding-bottom: 10px;
    color: white;
  }
  
  .heading-first h3 span {
    font-weight: 200;
  }
  
  .subtitle-first {
    color: rgb(234, 232, 232);
    text-align: center;
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
  }
  
  .subtitle {
    color: black;
  }
  
  main .block2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    margin: auto;
  }
  
  main #block2_title h2 {
    font-size: 1.7em;
    text-align: center;
    font-weight: 500;
    font-family: 'Leckerli One', cursive;
    padding: 1px;
  }
  
  .block2 .box2 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 25px;
    width: 40vh;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    height: 650px;
  }
  
  .block2 .box2_img {
    width: 100%;
    height: 35vh;
    position: relative;
  }
  
  .block2 .box2_img img {
    width: 100%;
    height: 100%;
  }
  
  .icon_line hr {
    border: 2px solid rgba(0, 0, 0, 0.404);
    top: 5px;
    width: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin: auto;
  }
  
  .icon_line i {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: -8px;
    color: black;
  }
  
  .icon_line i:hover {
    color: rgb(0, 64, 227);
  
  }
  
  .box2 h4 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: rgb(26, 39, 75);
  }
  
  .box2 .box2_text {
  
    padding: 15px 5px;
    margin: auto;
    font-size: 17px;
    text-overflow:ellipsis;
    font-weight:bold;
    line-height: 25px;
    font-family: 'Kalam', cursive;
    position: relative;
    height: max-content;
  }
  
  .more {
    font-size: 17px;
    color: blue;
    border: 1px solid rgb(221, 218, 218);
    padding: 3px;
    width: fit-content;
    position: relative;
    display: flex;
    bottom:0;
    scroll-behavior: smooth;
  
  }
  
  .more:hover {
    background: rgb(221, 218, 218);
  }
  
  /* STYILING SECTIUNE MAGAZINE */
  #two-magazine {
    position: relative;
    width: 100%;
    padding-top: 3.5rem;
    height: 100%;
    display: grid;
    grid-area: auto;
    grid-auto-flow: row;
  }
  
  .info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  
  .container1 {
    position: relative;
  }
  
  .slider {
    width: 65vmin;
    height: 45vmin;
    overflow: hidden;
    position: relative;
  }
  
  .mySlides {
  
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: slide 43s infinite;
  }
  
  .mySlides .image {
    position: relative;
    width: 100%;
    height: 45vmin;
  
  }
  
  .mySlides .image img {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  @keyframes slide {
    0% {
      transform: translateY(0);
    }
  
    7% {
      transform: translateY(0);
    }
  
    10% {
      transform: translateY(-100%);
    }
  
    15% {
      transform: translateY(-100%);
    }
  
    20% {
      transform: translateY(-200%);
    }
  
    25% {
      transform: translateY(-200%);
    }
  
    30% {
      transform: translateY(-300%);
    }
  
    35% {
      transform: translateY(-300%);
    }
  
    40% {
      transform: translateY(-400%);
    }
  
    45% {
      transform: translateY(-400%);
    }
  
    50% {
      transform: translateY(-500%);
    }
  
    55% {
      transform: translateY(-500%);
    }
  
    60% {
      transform: translateY(-600%);
    }
  
    65% {
      transform: translateY(-600%);
    }
  
    70% {
      transform: translateY(-700%);
    }
  
    75% {
      transform: translateY(-700%);
    }
  
    80% {
      transform: translateY(-800%);
    }
  
    85% {
      transform: translateY(-800%);
    }
  
    90% {
      transform: translateY(-900%);
    }
  
    100% {
      transform: translateY(-900%);
    }
  
  }
  
  /* Caption text */
  .text {
    color: #2d55d8;
    font-size: 1.2rem;
    padding: 5px 0px;
    position: relative;
    bottom: 100%;
    width: 100%;
    margin: auto;
    font-weight: 800;
    text-align: center;
  }
  
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  .info .title {
    font-size: 2.5rem;
    color: rgb(13, 13, 200);
    padding: 10px;
    
  
  }
  
  .info .title h3 {
    font-weight: 750;
    font-family: 'Gloria Hallelujah', cursive;
  }
  
  .info .program {
    padding: 15px;
    text-align: center;
  }
  
  .info .program .zi {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 15px;
  }
  
  .info .program .ora {
    color: rgb(13, 13, 200);
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  .container2 {
    background-image: url(https://bnpoartatransilvaniei.ro/wp-content/uploads/2020/08/bnpt-3-1920.jpg);
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
  
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-top: 6rem;
    height: fit-content;
    place-items: center;
    padding: 50px 0;
  }
  
  .slider2 {
    width: 100%;
    display: flex;
  }
  
  .links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    background: rgba(44, 44, 44, 0.627);
  }
  
  
  .slider2 a {
    padding: 10px;
    width: 110px;
    text-align: center;
    border-radius: 20px;
    height: 4rem;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background: rgba(13, 44, 128, 0.908);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
  
  }
  
  .slider2 a:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  a i {
    padding: 0 10px 0 0;
  }
  
  .container2 a h3 {
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.1px rgb(255, 255, 255);
  
  }
  
  .container2 span {
    color: rgb(223, 214, 59);
    font-weight: 900;
    font-size: 1.1rem;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: yellow;
  }
  
  @media screen and ((min-width:200px) and (max-width: 1024px)){
    .block2 .box2 {
      padding: 0px;
      margin: 25px;
      width: 90%;
      height: 600px;
    }
  
    .icon_line hr {
      width: 100%;
    }
  
    .box2 .box2_img {
      width: 100%;
      height: 18rem;
      position: relative;
    }
  
  }
  @media screen and (max-width:1024px) {
  
    .block1 .text-first {
      padding: 30px;
      border-radius: 70px;
      position: absolute;
      z-index: 100;
      justify-content: center;
      align-items: center;
      margin: 0 15px;
      background: linear-gradient(rgba(39, 39, 59, 0.764), rgba(0, 0, 0, 0.853));
  
    }
  
    .block1 .text-first .heading-first h3 {
      font-size: 2.5rem;
      font-weight: 800;
      border-bottom: 5px solid #ffffff;
      padding-bottom: 10px;
      color: white;
    }
  
    .heading-first h3 span {
      font-weight: 200;
    }
  
    .subtitle-first {
      color: rgb(234, 232, 232);
      text-align: center;
      font-size: 20px;
    }
  
    main .block2 {
  
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  
    .block2 .box2 {
      padding: 0px;
      margin: 25px;
      width: 45vh;
    }
  
    .icon_line hr {
      width: 100%;
    }
  
    .box2 .box2_img {
      width: 100%;
      height: 18rem;
      position: relative;
    }
  
    .block1 .text {
      padding: 30px;
      border-radius: 70px;
      position: absolute;
      z-index: 100;
      justify-content: center;
      align-items: center;
      margin: auto;
      background: linear-gradient(rgba(39, 39, 59, 0.764), rgba(0, 0, 0, 0.853));
      box-shadow: 10pxsolid black;
  
    }
  
    .heading h3 {
      font-size: 2rem;
    }
  
    .subtitle {
      font-size: 17px;
      color: black;
    }
  
    .slider {
      width: 65vmin;
      overflow: hidden;
      position: relative;
      height:70vmin;
      margin-bottom: 1rem;
    }
    
    .mySlides {
    
      width: 100%;
      display: flex;
      flex-direction: column;
      animation: slide 43s infinite;
    }
    
    .mySlides .image {
      position: relative;
      width: 100%;
      height: 70vmin;
    
    }
    
    .mySlides .image img {
      position: relative;
      height: 100%;
      width: 100%;
    }
    .info .title {
      font-size: 1.5rem;
      color: rgb(13, 13, 200);
      padding: 10px;
    }
  
    .container2 {
      width: 100%;
      justify-content: center;
      position: relative;
      margin-top: 1rem;
      height: fit-content;
      place-items: center;
      padding: 80px 0;
    }
  
  }